<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sp.web.user.login.mapper.LoginMapper">

    <select id="getUserById" parameterType="int" resultType="com.sp.web.user.login.model.dto.CreateUserDto">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <select id="countByUserId" parameterType="com.sp.web.user.login.model.dto.CreateUserDto">
        SELECT COUNT(*) FROM mv_user WHERE user_id = #{userId}
    </select>

    <insert id="insertUser" parameterType="com.sp.web.user.login.model.entity.UserEntity">
        INSERT INTO mv_user (user_id, user_password, gender, birth_date)
        VALUES (#{userId}, #{userPassword}, #{gender}, #{birthDate})
    </insert>

    <select id="selectUserInfo" parameterType="string" resultType="com.sp.web.user.login.model.entity.UserEntity">
        SELECT
               user_id
             , user_password
             , gender
             , birth_date
          FROM mv_user WHERE user_id = #{userId}
    </select>

</mapper>
